<form
  class="form-horizontal"
  autocomplete="off"
  #createLocaionForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Create New Category' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="categoryName">
        {{ "Name" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="categoryName"
          id="categoryName"
          required
          [(ngModel)]="category.name"
          #categoryNameModel="ngModel"
          #categoryNameEl
        />
        <abp-validation-summary
          [control]="categoryNameModel"
          [controlEl]="categoryNameEl"
        ></abp-validation-summary>
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createLocaionForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
