<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "HomePage" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{totalProduct}}</h3>
              <p>Products</p>
            </div>
            <div class="icon">
              <i class="fa fa-bolt"></i>
            </div>

          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{readyForSaleProductsCount}}</h3>
              <p>Ready for sell</p>
            </div>
            <div class="icon">
              <i class="fa fa-hourglass-start"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{soldProductsCount}}</h3>
              <p>Sold Products</p>
            </div>
            <div class="icon">
              <i class="fa fa-credit-card-alt"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>{{buyProductsCount}}</h3>
              <p>Buy Products</p>
            </div>
            <div class="icon">
              <i class="fa fa-shopping-cart"></i>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>